<template>
    <div>
        <div class="row">
            <div class="col-md-3">
                <div class="bg-form shadow-sm p-3">
                    <h4>Новый отчет</h4>
                    <div class="form-group">
                        <label for="selectType">Тип отчета</label>
                        <select v-model="form.type" class="form-control" id="selectType" :disabled="creating">
                            <option value="analytics">Analytics</option>
                            <option value="statistics">Statistics</option>
                            <option value="products">Products</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input
                            type="text"
                            v-model.trim="$v.form.period.$model"
                            class="form-control"
                            :class="{ 'is-invalid': $v.form.period.$error }"
                            v-mask="'####-##-##'"
                            placeholder="Период отчета YYYY-MM-DD"
                            :disabled="creating">
                        <div class="invalid-feedback" v-if="!$v.form.period.required || !$v.form.period.minLength">Обязательно для заполнения</div>
                    </div>
                    <div class="form-group">
                        <input
                            type="text"
                            v-model.trim="$v.form.kpi.$model"
                            class="form-control"
                            :class="{ 'is-invalid': $v.form.kpi.$error }"
                            v-mask="'###'"
                            placeholder="KPI (от 0 до 100)"
                            :disabled="creating">
                        <div class="invalid-feedback" v-if="!$v.form.kpi.required">Обязательно для заполнения</div>
                        <div class="invalid-feedback" v-if="!$v.form.kpi.between">Значение от 0 до 100</div>
                    </div>
                    <hr>
                    <button type="button" @click="createTask" class="btn btn-primary" :disabled="$v.$anyError || !$v.$anyDirty || creating">
                        <template v-if="creating">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Подождите ...
                        </template>
                        <span v-else>Сформировать</span>
                    </button>
                </div>
            </div>
            <div class="col-md-9">
                <report-list :tasks="tasks" :loading="loading" @show="viewReport"></report-list>
            </div>
        </div>
        <report-view :show.sync="showReport" :title="selectedTask.title" :data="selectedTask.data" :loading="selectedTask.loading"></report-view>
    </div>
</template>

<script>
import { Notification } from 'element-ui';
import {mask} from 'vue-the-mask'
import { validationMixin } from 'vuelidate'
import { required, between, minLength } from 'vuelidate/lib/validators'
export default {
    name: "Report",
    directives: { mask },
    mixins: [ validationMixin ],
    data () {
      return {
          tasks: [],
          creating: false,
          loading: false,
          showReport: false,
          selectedTask: {
              loading: false,
              title: '',
              data: []
          },
          form: {
              type: 'analytics',
              period: null,
              kpi: null
          }
      }
    },
    validations: {
        form: {
            kpi: {
                required,
                between: between(0, 100)
            },
            period: {
                required,
                minLength: minLength(10)
            }
        }
    },
    mounted() {
        this.fetchTasks()
    },
    methods: {
        subscribe () {
            window.Echo.channel("tasks").listen(".create", data => {
                this.tasks.unshift(data.task)
                Notification.info({
                    title: 'Отчет №' + data.task.report_id,
                    message: 'Добавлен в очередь на обработку'
                })
            }).listen(".update", data => {
                let objIndex = this.tasks.findIndex(obj => obj.id === data.task.id);
                this.tasks.splice(objIndex, 1, data.task)
                if (data.task.status === 'error') {
                    Notification.error({
                        title: 'Отчет №' + data.task.report_id,
                        message: 'Ошибка обработки запроса'
                    })
                }
                if (data.task.status === 'ready') {
                    Notification.success({
                        title: 'Отчет №' + data.task.report_id,
                        message: 'Успешно сформирован'
                    })
                }
            })
        },
        async fetchTasks () {
            this.loading = true
            try {
                let res = await axios.get('/tasks')
                this.tasks = res.data
                this.subscribe()
                this.loading = false
            } catch (e) {
                this.loading = false
                console.log(e)
            }
        },
        async createTask () {
            this.creating = true
            try {
                await axios.post('/task', this.form)
                this.creating = false
                this.form = {
                    type: 'analytics',
                    period: null,
                    kpi: null
                }
                this.$v.$reset()
            } catch (e) {
                this.creating = false
                Notification.error({
                    title: 'Ошибка отправки запроса',
                    message: 'Проверьте правильность введенных данных и повторите попытку'
                })
                console.log(e)
            }
        },
        async viewReport (task) {
            this.selectedTask.title = 'Отчет №' + task.report_id
            this.selectedTask.loading = true
            this.showReport = true
            try {
                let res = await axios.get('/report/' + task.type + '/' + task.report_id)
                this.selectedTask.data = res.data
                this.selectedTask.loading = false
            } catch (e) {
                this.selectedTask.loading = false
                console.log(e)
            }
        }
    }
}
</script>

<style scoped>
.bg-form {
    background-color: #f7f7f7;
}

</style>
