<template>
    <table class="table">
        <thead>
        <th>ID</th>
        <th>Период</th>
        <th style="width: 160px;">Тип</th>
        <th>KPI</th>
        <th>Прогресс</th>
        <th style="width: 160px;">Статус</th>
        <th style="width: 160px;">Отчет</th>
        </thead>
        <tbody>
        <tr v-for="task in tasks" :key="task.id">
            <td>{{ task.report_id }}</td>
            <td>{{ task.period }}</td>
            <td>
                <span class="badge badge-warning">{{ task.type }}</span>
            </td>
            <td>{{ task.kpi }}</td>
            <td>
                <div v-if="task.progress < 100" class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" :style="'width: ' + task.progress + '%'">{{ task.progress }}%</div>
                </div>
                <div v-else class="progress">
                    <div class="progress-bar" :style="'width: ' + task.progress + '%'">{{ task.progress }}%</div>
                </div>
            </td>
            <td>
                <span v-if="task.status === 'processing'" class="badge badge-info">Формируется</span>
                <span v-if="task.status === 'downloading'" class="badge badge-primary">Скачивается</span>
                <span v-if="task.status === 'ready'" class="badge badge-success">Готово</span>
                <span v-if="task.status === 'error'" class="badge badge-danger">Ошибка</span>
            </td>
            <td>
                <button v-if="task.status === 'ready'" class="btn btn-info" @click="showReport(task)">Открыть</button>
            </td>
        </tr>
        <tr v-if="tasks.length === 0 && !loading">
            <td colspan="7" class="text-center">
                <strong class="p-2 text-muted">Нет данных</strong>
            </td>
        </tr>
        <tr v-if="loading">
            <td colspan="7" class="text-center">
                <strong class="p-2 text-muted">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Загрузка данных
                </strong>
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script>
export default {
    name: "ReportList",
    props: {
        tasks: {
            type: Array,
            default () {
                return []
            }
        },
        loading: {
            type: Boolean,
            default: false
        }
    },
    methods: {
        showReport (task) {
            this.$emit('show', task)
        }
    }
}
</script>

<style scoped>

</style>
