<template>
    <div class="modal fade" :class="{'show': show}">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
                </div>
                <div class="modal-body">
                    <h4 v-if="loading" class="text-muted text-center">
                        <div>Загрузка данных...</div>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </h4>
                    <b-table :responsive="true" v-else :items="data"></b-table>
                </div>
                <div class="modal-footer">
                    <button type="button" @click="onHide" class="btn btn-primary">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "ReportView",
    props: {
        loading: {
            type: Boolean,
            default: false
        },
        title: {
            type: String,
            default: ''
        },
        data: {
            type: Array,
            default () {
                return []
            }
        },
        show: {
            type: Boolean,
            default: false
        }
    },
    methods: {
        onHide () {
            this.$emit('update:show', false)
        }
    }
}
</script>

<style scoped>

</style>
