/* arsenal-regular - cyrillic_latin */
@font-face {
  font-family: 'Arsenal';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/arsenal-v4-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Arsenal Regular'), local('Arsenal-Regular'),
  url('../fonts/arsenal-v4-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/arsenal-v4-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/arsenal-v4-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/arsenal-v4-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/arsenal-v4-cyrillic_latin-regular.svg#Arsenal') format('svg'); /* Legacy iOS */
}
/* arsenal-italic - cyrillic_latin */
@font-face {
  font-family: 'Arsenal';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/arsenal-v4-cyrillic_latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Arsenal Italic'), local('Arsenal-Italic'),
  url('../fonts/arsenal-v4-cyrillic_latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/arsenal-v4-cyrillic_latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/arsenal-v4-cyrillic_latin-italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/arsenal-v4-cyrillic_latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/arsenal-v4-cyrillic_latin-italic.svg#Arsenal') format('svg'); /* Legacy iOS */
}
/* arsenal-700italic - cyrillic_latin */
@font-face {
  font-family: 'Arsenal';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/arsenal-v4-cyrillic_latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Arsenal Bold Italic'), local('Arsenal-BoldItalic'),
  url('../fonts/arsenal-v4-cyrillic_latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/arsenal-v4-cyrillic_latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/arsenal-v4-cyrillic_latin-700italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/arsenal-v4-cyrillic_latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/arsenal-v4-cyrillic_latin-700italic.svg#Arsenal') format('svg'); /* Legacy iOS */
}
/* arsenal-700 - cyrillic_latin */
@font-face {
  font-family: 'Arsenal';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/arsenal-v4-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Arsenal Bold'), local('Arsenal-Bold'),
  url('../fonts/arsenal-v4-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/arsenal-v4-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/arsenal-v4-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/arsenal-v4-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/arsenal-v4-cyrillic_latin-700.svg#Arsenal') format('svg'); /* Legacy iOS */
}
