.btn {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  padding: 5px 20px;
}
.btn-sm {
  font-size: 13px;
  padding: 5px 10px;
}
.btn-success, .btn-info {
  color: #fff;
  &:hover {
    color: #fff;
  }
  &:disabled {
    color: #fff;
  }
}
.btn-link {
  &:focus, &.focus, &:hover {
    text-decoration: none;
  }
}
