.card {
  border: none;
  border-radius: 0;
  box-shadow: 3px 3px 10px -3px #00000042;

  .card-title {
    margin-bottom: 1.5rem;
  }
  .card-body {
    background-color: #fff;
  }
  .card-header {
    background-color: #fff;
    color: #7b7b7b;
    border: none;
    font-weight: 200;
    font-size: 28px;
  }
  .card-footer {
    padding: 20px;
    border: none;
    background-color: #f5f5f5;
  }
}
