.modal {
  background-color: rgba(0,0,0,.2);
  transition: all 0.3s ease;
  &.show {
    display: block;
      overflow-x: hidden;
      overflow-y: auto;
  }

  .modal-content {
    box-shadow: 3px 3px 10px 0 #a9a9a9;
    border: none;
    border-radius: 0;
  }

  .modal-header  {
    color: #7b7b7b;
    border: none;
    font-weight: 200;
    font-size: 28px;
  }

  .modal-footer {
    padding: 15px 20px;
    border: none;
    background-color: #f5f5f5;
  }
}
